sim/verilator/cocotb/*
!si5340_config_loader_tb.py
!si5340_config_loader.sv
!test.py
sim/modelsim/cocotb/*
!test.py
!si5340_config_loader_tb.py
!wave.do
sim/modelsim/hdlmake/*
!Manifest.py
!wave.do
syn/*
!Manifest.py
!quartus_preflow.tcl
!si5340_config_loader.sdc
myenv
obj_dir
*.vcd